#header{
    background-color: #3B8686;
    padding: 2%;
    border-style: solid;
    border-width: 1px;
    margin-top: 5%;
}

#catalog{
    background-color: white;
}

#categories{
    background-color: #79BD9A;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

.checkbox {
    display: inline;
    width: auto;
    margin-left: 10px;
    margin-top: 5px;
    float: right;
}

.genre {
    display: block;
    margin-top: 10px;
    border-bottom: thick solid #000;
    border-bottom-width: 2px;
}

.error {
    color: red;
}

.success {
    color: green;
}

#info {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#search {
    display: none;
    float: right;
    margin-top: 25px;
}

#loadingImg {
    width: 40px;
}

#footer{
    background-color: #0B486B;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

.controls{
    background-color: #A8DBA8;
    border-style: solid;
    border-width: 1px;
}

.bold{
    font-weight: bold;
}

body{
    background-color: #CFF09E;
}

#next{
    text-align: center;
    float: none;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}
.catbuttons{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.col-centered{
    margin: auto;
    margin-top: 1.4%;
    width: 20%;
    min-width: 200px;
}

.text{
    margin-bottom: 0.2%;
}

.btn-outlined {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-primary {
    background: none;
    border: 1px solid;
    border-color: black;
    color: black;
}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #0B486B;
    border-color: #0B486B:
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}
