#header{
    margin-top: 5%;
    background-color: #3B8686;
    padding: 2%;
    border-style: solid;
    border-width: 1px;
}
#catalog{
    background-color: white;
}
#categories{
    background-color: #79BD9A;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}
#footer{
    background-color: #0B486B;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}
.controls{
    background-color: #A8DBA8;
    border-style: solid;
    border-width: 1px;
}
.bold{
    font-weight: bold;
}
.images{
    margin-top: 5%;
    margin-bottom: 5%;
}
body{
    background-color: #CFF09E;
}
.genres{
    padding-top: 1%;
}
.title{
    margin: 1%;
    font-size: 24px;
}
.genre{
    margin: 2%;
    font-size: 12px;
}
.author{
    font-size: 16px;
    margin: 1%;
}
.icons{
    margin-left: 0px;
    float: left;
}
.img-responsive { 
    width:100%;
}
#next{
    float: right;
    margin:1%;
}
#previous{
    float: left;
    margin:1%;
}
.catbuttons{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-outlined {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 1px solid;
    border-color: black;
    color: black;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #0B486B;
    border-color: #0B486B:
}